/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Control the left side */
.left {
  left: 20px;
  width: 33%;
  color: black;
  background-color: white;
}

/* Control the right side */
.right {
  right: 0;
  width: 66%;
  background-color: whitesmoke;
  overflow-x: hidden;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-align: center;
}

/* Grid css */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 12px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 12px;
  text-align: start;
  border-radius: 12px;
}

.grid-empty {
  background-color: whitesmoke;
  border: 0px;
}

ul:hover {
  color: darkred;
}

iframe {
  height: 400px;
  width: 130%;
}

.hidden {
  display: none;
};