.visual-homosaurus {
  display: none;
  width: 400px;
  height: 300px;
}

.visual-homosaurus .visual-frame {
  float: left;
  height: 100%;
  font-size: 11px;
}

.visual-homosaurus .visual-frame ul {
  margin-bottom: 0;
  margin-left: 12px;
  list-style-type: circle;
}

.visual-homosaurus .visual-frame ul li {
  line-height: 15px;
}

.visual-homosaurus .visual-frame .visual-frame-box {
  width: 100%;
  text-align: left;
}

.visual-homosaurus .visual-frame #visual-frame-top {
  height: 20%;
}

.visual-homosaurus .visual-frame #visual-frame-middle {
  height: 60%;
}

.visual-homosaurus .visual-frame #visual-frame-bottom {
  height: 20%;
}

.visual-homosaurus .visual-frame .visual-frame-row {
  width: 100%;
  height: 33%;
}

.visual-homosaurus .visual-frame .visual-frame-row .visual-frame-cell {
  float: left;
  width: 33%;
  height: 100%;
}

.visual-homosaurus .visual-frame .visual-frame-row .visual-frame-cell .visual-KW {
  z-index: 2;
}

.visual-homosaurus .visual-frame .visual-frame-row .kw-cell {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.visual-homosaurus .visual-frame .visual-frame-row .kw-cell .visual-balloon {
  position: absolute;
  top: 0;
  left: 0;
}

.visual-homosaurus .arrow-cell {
  background-image: url("../img/backgr-1x1px.png");
}

.visual-homosaurus .arrow-horizontal {
  background-position: center center;
  background-repeat: repeat-x;
}

.visual-homosaurus .arrow-vertical {
  background-position: center center;
  background-repeat: repeat-y;
}

.visual-homosaurus .visual-balloon {
  display: inline-block;
  padding: 8px;
  overflow: hidden;
  text-align: left;
  background: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 15px;
  box-shadow: 1px 1px 2px #dfdfdf;
}

.visual-homosaurus .visual-balloon .visual-balloon-wrap-horizontal,
.visual-homosaurus .visual-balloon .visual-balloon-wrap-vertical {
  position: relative;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: -5px;
  overflow: hidden;
}

.visual-homosaurus .visual-balloon .visual-balloon-wrap-vertical {
  max-height: 235px;
}

.visual-homosaurus .visual-balloon .visual-balloon-wrap-horizontal {
  max-height: 75px;
}

.visual-homosaurus .visual-balloon span,
.visual-homosaurus .visual-balloon a {
  line-height: 15px;
}

.visual-homosaurus .visual-balloon .btn-mini {
  padding: 0 2px!important;
  font-size: 8px!important;
  line-height: 13px!important;
}

.visual-homosaurus .empty-balloon {
  width: 100%;
  padding: 0 30px;
}

.visual-homosaurus #v-left {
  position: relative;
  width: 20%;
}

.visual-homosaurus #v-left .visual-UF {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  max-height: 240px;
}

.visual-homosaurus #v-left .visual-UF a {
  display: block;
}

.visual-homosaurus #v-right {
  position: relative;
  width: 20%;
}

.visual-homosaurus #v-right .visual-RT {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  max-height: 240px;
}

.visual-homosaurus #v-right .visual-RT a {
  display: block;
}

.visual-homosaurus #v-center {
  width: 60%;
}

.visual-homosaurus #v-center #visual-frame-top {
  position: relative;
  /* north */

}

.visual-homosaurus #v-center #visual-frame-top .visual-BT {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  max-width: 45%;
  max-height: 70px;
}

.visual-homosaurus #v-center #visual-frame-top .visual-BT a {
  display: block;
}

.visual-homosaurus #v-center #visual-frame-bottom {
  position: relative;
  /* south */

}

.visual-homosaurus #v-center #visual-frame-bottom .visual-NT {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  max-width: 45%;
  max-height: 70px;
  text-align: left;
}

.visual-homosaurus #v-center #visual-frame-bottom .visual-NT a {
  display: block;
}

.homosaurus-list {
  margin-top: 20px;
}